<div class="container">
    <div class="panel panel-default" style="margin-top: 2em">
        <div class="panel-heading">Current status of items</div>
        <div class="panel-body">
            <div class="bar">
                Search: <input ng-model="query" class="form-control" style="width: 100%;">
            </div>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Item name</th>
                    <th>Last buyer</th>
                    <th>Date of modification</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items | filter:query">
                    <td>{{item.name}}</td>
                    <td>{{item.nameOfLastUser}}</td>
                    <td>{{item.lastModification | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td style="text-align: center">
                        <button class="btn btn-primary" ng-hide="changeButtons[$index]" data-toggle="modal"
                                data-target="#myModal"
                                ng-click="triggerChange($index)">Change
                        </button>
                        <div class="btn-group" ng-show="changeButtons[$index]">
                            <button type="button" class="btn btn-default"
                                    ng-click="changeLastBuyer('Oskar',$index,item)">Oskar
                            </button>
                            <button type="button" class="btn btn-default"
                                    ng-click="changeLastBuyer('Marcin',$index,item)">Marcin
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>

            <form>
                <p style="overflow: hidden;">Input new item name:</p>
                <input ng-click="addNewItem()" class="btn btn-success" type="submit" name="search" value="Add new item"
                       style="float: right"/>

                <div style="overflow: hidden; padding-right: .5em;">
                    <input ng-model="newItemName" class="form-control" type="text" name="term" style="width: 100%;"/>
                </div>
            </form>
        </div>
    </div>
</div>



